//Changing color to red


@import '../style';
body {
    color: red;
}
h1, h2, h6 {
    color: #e45959;
}
button {
    padding: 15px;
    margin: 10px;
    font-weight: bold;
    font-family: cursive;
    border-radius: 15px;
    cursor: pointer;
    color: white;
    background-color: red;
  }